@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
}

body{
    font-family: lato, sans-serif;
     font-weight: 300;
     color: #3a3a3a;
}



/* Header image */

header {
    width: 100%;
    /* height: 666px; */
    display: block;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url(/assets/images/sander-crombach-B5a_mgBLBX8-unsplash.jpg) no-repeat center center;
    
}

/* Heading and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3a3a3a;
}

#logo-menu {
    border-bottom: solid 3px;
    border-top: solid 3px;
    height: 60px;
    
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 200%;
}

/* Navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: 130%;
    border-bottom: 3px solid;
}

#menu, #logo {
    line-height: 60px;
}

/* facts */

#facts {
    display: block;
    margin-bottom: 3%;
}

#title-event {
    text-align: center;
    margin-top: 3%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.box-size {
    height: 180px;
    width: 600px;
    border: 2px outset;
    padding: 0.5%;
}

.left-event {
    margin: 5% 0 0 20%;
}

.div-text {
    width: 70%;
    padding: 0 1% 0 1%;
}

.right-event {
    margin: 5% 0 0 40%;
    flex-direction: row-reverse;
}

.img-event {
    max-height: 180px;
    max-width: 250px;
}

/* .img-right-event {
    float: right;
} */

/* Gallery */

.gallery-section {
    margin-top: 0.5%;
}

.gallery-image {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.span-row-2 {
    grid-row: span 2 / auto;
}

/* Form */

#form-section {
    clear: both;
    background: url(/assets/images/gallery/separation-barrier1.jpg) no-repeat  center;
    height: 900px;
}

.signup-form{
    background-color: rgba(60, 60, 60, 0.6);
    color: #fff;
    max-width: 600px;
    height: 480px;
    border-radius: 6px;
    position: absolute;
    margin: 150px 10% 0 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fff;
    margin-bottom: 3%;
}

.text-input {
    display: block;
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: 1px solid #fafafa;
    border-radius: 3px;
    margin: 5px 0 15px 0;
    color: #fafafa;
    padding-left: 3%;
}

.text-input:hover {
    border: 2px solid #fafafa;
}

.signup-form h4 {
    margin: 1% 0 1% 0;
}

#submit-buttom {
    display: block;
    margin-top: 4%;
    border: 2px solid #fafafa;
    border-radius: 5px;
    background-color: #3a3a3a;
    color: #fafafa;
    font-size: large;
    width: 150px;
    height: 50px;
}

#submit-buttom:hover{
    background-color: #fafafa;
    color: #3a3a3a;
    font-weight: bold;
}

/* Footer */

footer {
    height: 150px;
}

footer hr{
    border: 1px solid;
}

footer h2{
    text-align: center;
    margin-top: 2%;
}

footer ul{
    text-align: center;
}

#social-media li {
    display: inline;
    font-size: 180%;    
}

#social-media li i {
    margin: 2%;
    color: #3a3a3a;
}

/* Media queries */

/* For large to medium screen size from 1200px and down */

@media screen and (max-width: 1200px) {

    .right-event {
        margin-left: 20%;
    }

    #menu {
        font-size: 100%;
    }

    #logo {
        font-size: 180%;
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}

/* For medium to small screen size from 850 and down */

@media screen and (max-width: 850px) {

    #logo {
        font-size: 150%;
    }

    #menu  {
        float: left;
        clear: left;
        line-height: 15px;
        margin-left: 30px;
    }

    #logo-menu {
        height: 85px;
    }

    .box-size {
        height: min-content;
        width: 90%;
    }

    .div-text {
        width: 100%;
    }

    .right-event, .left-event{
        margin-left: 5%;
    }


}