@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin:0;
    padding: 0;
    border: none;
}

body{
    font-family: lato, sans-serif;
     font-weight: 300;
     color: #3a3a3a;
}

/* Header image */

header {
    width: 100%;
    height: 666px;
}

#header-image {
    height: 600px;
    width: 100%;
    background: url(/assets/images/sander-crombach-B5a_mgBLBX8-unsplash.jpg) no-repeat center center;
}

/* Heading and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #3a3a3a;
}

#logo-menu {
    border-bottom: solid 3px;
    border-top: solid 3px;
    height: 60px;
    
}

#logo {
    float: left;
    margin-left: 30px;
    font-size: 250%;
}

/* Navigation links */

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    font-size: 130%;
    border-bottom: 3px solid;
}

#menu, #logo {
    line-height: 60px;
}

/* facts */

#facts {
    height: 1500px;
}

#title-event {
    text-align: center;
    margin-top: 3%;
}

.box-size {
    height: 150px;
    width: 500px;
    border: 2px outset;
    padding: 0.5%;
}

.left-event {
    margin: 5% 60% 0 30%;
}

.right-event {
    margin: 5% 60% 0 40%;
}

.img-event {
    max-height: 140px;
    max-width: 200px;
}

.img-right-event {
    float: right;
}

/* Gallery */



.gallery-image {
    max-width: 600px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

/* Form */

#form-section {
    clear: left;
    background: url(/assets/images/gallery/separation-barrier1.jpg) no-repeat  center;
    height: 900px;
}

/* Footer */

footer {
    height: 150px;
}

footer hr{
    border: 1px solid;
}

footer h2{
    text-align: center;
    margin-top: 2%;
}

footer ul{
    text-align: center;
}

#social-media li {
    display: inline;
    font-size: 180%;    
}

#social-media li i {
    margin: 2%;
    color: #3a3a3a;
}

